.course-container * {
  box-sizing: border-box;
}

.course-container {
  font-family: Arial, sans-serif;
  color: #1F2937;
  padding: 20px;
  background-color: #ffffff;
  width: 100%;
}

.course-container .main-content {
  width: 100%;
  background-color: #ffffff;
}

.course-container .main-box {
  background-color: #7761f41f;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.course-container .info-box {
  width: 100%;
  max-width: 450px;
  background-color: #7761f4a6;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.course-container .input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.course-container .input:focus {
  background-color: #dbd6f8;
  outline: none;
}

.course-container label {
  font-size: 0.9em;
  margin-top: 10px;
  color: #333;
}

.course-container .button-box {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.course-container .button-box button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #7861F4;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.course-container .button-box button:hover {
  transform: scale(1.05);
  background-color: #a393f7;
}

.course-container .search-box-row {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.course-container .search-box {
  display: flex;
  background-color: #f4e4fd;
  border-radius: 25px;
  overflow: hidden;
}

.course-container .search {
  padding: 10px 20px;
  border: none;
  border-radius: 25px 0 0 25px;
  width: 250px;
}

.course-container .search-icon {
  width: 50px;
  background: url("../../assets/admin/Icons/search.svg") no-repeat center;
  background-size: 24px 24px;
}

.course-container .table {
  overflow-x: auto;
  margin-top: 20px;
}

.course-container table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.course-container th {
  background-color: #c7c8f0;
  padding: 10px;
}

.course-container td {
  background-color: #e8e1fc;
  padding: 10px;
}

.course-container th, .course-container td {
  border: 1px solid #ddd;
}
